@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.event {
  opacity: 0; // Start with hidden elements
  animation: fadeIn 1s ease forwards; // Animation lasts 1 second
}

.event:nth-child(1) { animation-delay: 0.5s; }
.event:nth-child(2) { animation-delay: 1s; }
.event:nth-child(3) { animation-delay: 1.5s; }

.dropdown {
  position: relative;
  display: inline-block;

  &.top .dropdown-content {
    bottom: 100%;
  }

  .dropdown-btn {
    cursor: pointer;
    user-select: none; // Prevent text selection

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); // Accessibility: Visible focus indicator
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto; // Make dropdown scrollable if it exceeds max height
    max-height: 300px; // Example max-height, you can adjust or make it dynamic

    div {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #f1f1f1;
      }
    }

    input[type="text"] {
      width: 100%; // Ensure search box uses full width of dropdown
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box; // Include padding and border in the element's total width and height
    }
  }
}
