<div class="calendar">
  <div class="week-header">
    <div class="empty-header"></div>
    <div class="day-date-header" *ngFor="let day of weekDays; let i = index">
      <div class="week-date">{{ getDayOfMonth(i) }}</div>
      <div class="week-day">{{ day }}</div>
    </div>
  </div>
  <div class="calendar-content">
    <div class="hour-slot" *ngFor="let slot of hourSlots; let i = index">
      <div class="time">{{ slot.hour }}:{{ slot.minute | number: '2.0' }}</div>
      <div class="day-slot" *ngFor="let day of weekDays; let j = index">
        <div class="event" *ngFor="let event of slot.events">
          {{ event.name }}
        </div>
      </div>
    </div>
  </div>
</div>